
.Header {
    border-bottom: 1px solid #333;
    background-color: rgb(29, 94, 116);
    color: #fff;
    padding: 2rem 2rem 1rem;
}

.Header nav {
    margin: 1rem auto;
    font-size: 1.2em;
}

.Header nav a {
    color: #fff;
}

.Header nav a.active {
    color: orange;
}

.Header h1 {
    margin: 0 auto; 
}


